In [4]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
PATH = '/Users/pwolter/Downloads/nhl-game-data/'

In [10]:
!ls {PATH}

country_code_web.xls    game_plays_players.csv  player_info.csv
game.csv                game_shifts.csv         table_relationships.JPG
game_goalie_stats.csv   game_skater_stats.csv   team_info.csv
game_plays.csv          game_teams_stats.csv

In [ ]:
team_info
player_info
game_skater_stats
game_goalie_stats
game

In [35]:
team_info = pd.read_csv(f'{PATH}team_info.csv', low_memory=False)
player_info = pd.read_csv(f'{PATH}player_info.csv', low_memory=False, parse_dates=["birthDate"])
game_skater_stats = pd.read_csv(f'{PATH}game_skater_stats.csv', low_memory=False)
game_goalie_stats = pd.read_csv(f'{PATH}game_goalie_stats.csv', low_memory=False)
game = pd.read_csv(f'{PATH}game.csv', low_memory=False, parse_dates=["date_time", "date_time_GMT"])

In [24]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 1000): 
        display(df)

### Look at the data

In [43]:
display_all(team_info.tail())

,team_id,franchiseId,shortName,teamName,abbreviation,link
28,22,25,Edmonton,Oilers,EDM,/api/v1/teams/22
29,54,38,Vegas,Golden Knights,VGK,/api/v1/teams/54
30,12,26,Carolina,Hurricanes,CAR,/api/v1/teams/12
31,53,28,Arizona,Coyotes,ARI,/api/v1/teams/53
32,11,35,Atlanta,Thrashers,ATL,/api/v1/teams/11

In [25]:
display_all(player_info.tail())

,player_id,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,link
2404,8478040,Austin,Poganski,USA,St. Cloud,RW,1996-02-16,/api/v1/people/8478040
2405,8480011,Klim,Kostin,RUS,Penza,C,1999-05-05,/api/v1/people/8480011
2406,8480384,Alexander,True,DNK,Kobenhavn,C,1997-07-17,/api/v1/people/8480384
2407,8480021,Jack,Studnicka,CAN,Windsor,C,1999-02-18,/api/v1/people/8480021
2408,8477352,Ryan,Fitzgerald,USA,Boca Raton,C,1994-10-19,/api/v1/people/8477352

In [26]:
display_all(game_skater_stats.tail())

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,penaltyMinutes,faceOffWins,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
411573,2018030417,8475807,6,501,0,0,1,2,0,0,0,0,0,0,0,0,0,0,-1,501,0,0
411574,2018030417,8475149,6,1062,0,0,2,0,0,0,0,1,1,1,0,0,0,0,-1,957,0,105
411575,2018030417,8475745,6,913,0,0,2,3,0,0,0,4,11,1,0,0,0,0,0,913,0,0
411576,2018030417,8478443,6,1006,0,0,1,1,0,0,0,0,0,0,1,0,0,2,-1,1006,0,0
411577,2018030417,8478046,6,909,0,0,2,0,0,0,0,0,0,1,1,0,0,0,0,909,0,0

In [27]:
display_all(game_goalie_stats.tail())

,game_id,player_id,team_id,timeOnIce,assists,goals,pim,shots,saves,powerPlaySaves,shortHandedSaves,evenSaves,shortHandedShotsAgainst,evenShotsAgainst,powerPlayShotsAgainst,decision,savePercentage,powerPlaySavePercentage,evenStrengthSavePercentage
24641,2018030415,8471695,6,3522,0,0,0,21,19,1,1,17,1,19,1,L,90.476190,100.0,89.473684
24642,2018030416,8471695,6,3600,0,0,0,29,28,12,1,15,1,16,12,W,96.551724,100.0,93.750000
24643,2018030416,8476412,19,3487,0,0,0,31,27,3,1,23,1,26,4,L,87.096774,75.0,88.461538
24644,2018030417,8476412,19,3600,0,0,0,33,32,3,0,29,0,30,3,W,96.969697,100.0,96.666667
24645,2018030417,8471695,6,3394,0,0,0,20,16,0,0,16,0,20,0,L,80.000000,NaN,80.000000

In [49]:
display_all(game.tail())

,game_id,season,type,date_time,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
11429,2018030413,20182019,P,2019-06-02,2019-06-02 00:00:00+00:00,6,19,7,2,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11430,2018030414,20182019,P,2019-06-04,2019-06-04 00:00:00+00:00,6,19,2,4,home win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11431,2018030415,20182019,P,2019-06-07,2019-06-07 00:00:00+00:00,19,6,2,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT
11432,2018030416,20182019,P,2019-06-10,2019-06-10 00:00:00+00:00,6,19,5,1,away win REG,left,Enterprise Center,/api/v1/venues/5076,America/Chicago,-5,CDT
11433,2018030417,20182019,P,2019-06-13,2019-06-13 00:00:00+00:00,19,6,4,1,away win REG,left,TD Garden,/api/v1/venues/5085,America/New_York,-4,EDT

### Describe the dataframes

In [50]:
display_all(team_info.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
team_id,33,NaN,NaN,NaN,18.9091,13.7894,1,9,17,25,54
franchiseId,33,NaN,NaN,NaN,22.9697,10.0389,1,16,24,31,38
shortName,33,33,Phoenix,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teamName,33,32,Coyotes,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abbreviation,33,33,COL,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
link,33,33,/api/v1/teams/29,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
display_all(player_info.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
player_id,2409,NaN,NaN,NaN,NaT,NaT,8.47399e+06,4659.58,8.44648e+06,8.47127e+06,8.47517e+06,8.47724e+06,8.48149e+06
firstName,2409,703,Ryan,54,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lastName,2409,2045,Smith,12,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nationality,2400,25,CAN,1146,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
birthCity,2405,1029,Toronto,72,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primaryPosition,2409,5,D,744,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
birthDate,2409,2033,1991-01-03 00:00:00,5,1960-10-24,2000-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
link,2409,2409,/api/v1/people/8478416,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
display_all(game_skater_stats.describe(include='all').T)

,count,mean,std,min,25%,50%,75%,max
game_id,411578.0,2.014135e+09,2.609464e+06,2.010020e+09,2.012020e+09,2.014021e+09,2.016021e+09,2.018030e+09
player_id,411578.0,8.472868e+06,4.043732e+03,8.446485e+06,8.470607e+06,8.473933e+06,8.475772e+06,8.481486e+06
team_id,411578.0,1.742942e+01,1.195902e+01,1.000000e+00,8.000000e+00,1.600000e+01,2.400000e+01,5.400000e+01
timeOnIce,411578.0,9.936149e+02,2.978773e+02,1.000000e+00,7.980000e+02,1.001000e+03,1.192000e+03,3.197000e+03
assists,411578.0,2.585707e-01,5.272847e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
goals,411578.0,1.523988e-01,4.044898e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
shots,411578.0,1.688545e+00,1.541746e+00,0.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.500000e+01
hits,411578.0,1.311576e+00,1.461236e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,1.500000e+01
powerPlayGoals,411578.0,3.290992e-02,1.847043e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
powerPlayAssists,411578.0,6.265155e-02,2.592601e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
penaltyMinutes,411578.0,5.507656e-01,1.552024e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.200000e+01
faceOffWins,411578.0,1.665735e+00,3.296452e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.100000e+01
faceoffTaken,411578.0,3.331473e+00,6.130796e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,4.400000e+01
takeaways,411578.0,3.843354e-01,6.668255e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,8.000000e+00
giveaways,411578.0,4.524149e-01,7.469526e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,8.000000e+00
shortHandedGoals,411578.0,4.307810e-03,6.586241e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
shortHandedAssists,411578.0,4.441442e-03,6.675135e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
blocked,411578.0,8.018334e-01,1.103526e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.500000e+01
plusMinus,411578.0,-7.529557e-03,1.103092e+00,-7.000000e+00,-1.000000e+00,0.000000e+00,1.000000e+00,6.000000e+00
evenTimeOnIce,411578.0,8.359256e+02,2.415170e+02,0.000000e+00,6.790000e+02,8.360000e+02,9.930000e+02,2.926000e+03
shortHandedTimeOnIce,411578.0,6.982911e+01,8.405809e+01,0.000000e+00,0.000000e+00,4.000000e+01,1.170000e+02,7.240000e+02
powerPlayTimeOnIce,411578.0,8.786016e+01,1.031884e+02,0.000000e+00,0.000000e+00,5.200000e+01,1.500000e+02,9.220000e+02

In [29]:
display_all(game_goalie_stats.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
game_id,24646,NaN,NaN,NaN,2.01413e+09,2.60929e+06,2.01002e+09,2.01202e+09,2.01402e+09,2.01602e+09,2.01803e+09
player_id,24646,NaN,NaN,NaN,8.47183e+06,4194.51,8.45571e+06,8.47032e+06,8.47172e+06,8.47489e+06,8.48092e+06
team_id,24646,NaN,NaN,NaN,17.4428,11.9427,1,8,16,24,54
timeOnIce,24646,NaN,NaN,NaN,3370.28,735.547,0,3516,3598,3600,6972
assists,24646,NaN,NaN,NaN,0.0211393,0.145534,0,0,0,0,2
goals,24646,NaN,NaN,NaN,0.000121724,0.0110324,0,0,0,0,1
pim,24646,NaN,NaN,NaN,0.0570072,0.47339,0,0,0,0,29
shots,24646,NaN,NaN,NaN,28.0894,8.84034,0,23,29,34,64
saves,24646,NaN,NaN,NaN,25.6558,8.68687,0,21,26,31,60
powerPlaySaves,24646,NaN,NaN,NaN,3.71427,2.99286,0,1,3,5,25
shortHandedSaves,24646,NaN,NaN,NaN,0.662947,0.949978,-1,0,0,1,8
evenSaves,24646,NaN,NaN,NaN,21.2787,7.64027,0,17,22,26,57
shortHandedShotsAgainst,24646,NaN,NaN,NaN,0.728353,1.00529,0,0,0,1,8
evenShotsAgainst,24646,NaN,NaN,NaN,23.1023,7.79014,0,19,23,28,61
powerPlayShotsAgainst,24646,NaN,NaN,NaN,4.25874,3.18803,0,2,4,6,25
decision,22868,2,L,11434,NaN,NaN,NaN,NaN,NaN,NaN,NaN
savePercentage,24607,NaN,NaN,NaN,90.4198,7.73994,0,87.5,91.6667,95.2381,100
powerPlaySavePercentage,22237,NaN,NaN,NaN,84.4704,23.3519,0,75,100,100,100
evenStrengthSavePercentage,24590,NaN,NaN,NaN,91.2436,8.11405,0,88,92.5926,96.1538,100

In [52]:
display_all(game.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
game_id,11434,NaN,NaN,NaN,NaN,NaN,2.01413e+09,2.60962e+06,2.01002e+09,2.01202e+09,2.01402e+09,2.01602e+09,2.01803e+09
season,11434,NaN,NaN,NaN,NaN,NaN,2.01431e+07,26098.9,2.0102e+07,2.0122e+07,2.0142e+07,2.0162e+07,2.0182e+07
type,11434,2,R,10642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_time,11434,1923,2012-03-11 00:00:00,16,2010-10-07 00:00:00,2019-06-13 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_time_GMT,11434,7156,2014-10-11 23:00:00+00:00,9,2010-10-07 16:00:00+00:00,2019-06-13 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
away_team_id,11434,NaN,NaN,NaN,NaN,NaN,17.429,11.9594,1,8,16,24,54
home_team_id,11434,NaN,NaN,NaN,NaN,NaN,17.4292,11.9591,1,8,16,24,54
away_goals,11434,NaN,NaN,NaN,NaN,NaN,2.65917,1.58953,0,1,3,4,10
home_goals,11434,NaN,NaN,NaN,NaN,NaN,2.92933,1.68022,0,2,3,4,10
outcome,11434,6,home win REG,4857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
home_rink_side_start,11140,2,right,5958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue,11434,82,TD Garden,408,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_link,11434,29,/api/v1/venues/null,10319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_time_zone_id,11434,11,America/New_York,4974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
venue_time_zone_offset,11434,NaN,NaN,NaN,NaN,NaN,-5.00122,1.18158,-8,-6,-5,-4,-4
venue_time_zone_tz,11434,8,EDT,5549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
team_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 6 columns):
team_id         33 non-null int64
franchiseId     33 non-null int64
shortName       33 non-null object
teamName        33 non-null object
abbreviation    33 non-null object
link            33 non-null object
dtypes: int64(2), object(4)
memory usage: 1.7+ KB

In [54]:
player_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409 entries, 0 to 2408
Data columns (total 8 columns):
player_id          2409 non-null int64
firstName          2409 non-null object
lastName           2409 non-null object
nationality        2400 non-null object
birthCity          2405 non-null object
primaryPosition    2409 non-null object
birthDate          2409 non-null datetime64[ns]
link               2409 non-null object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 150.7+ KB

In [30]:
game_skater_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411578 entries, 0 to 411577
Data columns (total 22 columns):
game_id                 411578 non-null int64
player_id               411578 non-null int64
team_id                 411578 non-null int64
timeOnIce               411578 non-null int64
assists                 411578 non-null int64
goals                   411578 non-null int64
shots                   411578 non-null int64
hits                    411578 non-null int64
powerPlayGoals          411578 non-null int64
powerPlayAssists        411578 non-null int64
penaltyMinutes          411578 non-null int64
faceOffWins             411578 non-null int64
faceoffTaken            411578 non-null int64
takeaways               411578 non-null int64
giveaways               411578 non-null int64
shortHandedGoals        411578 non-null int64
shortHandedAssists      411578 non-null int64
blocked                 411578 non-null int64
plusMinus               411578 non-null int64
evenTimeOnIce           411578 non-null int64
shortHandedTimeOnIce    411578 non-null int64
powerPlayTimeOnIce      411578 non-null int64
dtypes: int64(22)
memory usage: 69.1 MB

In [31]:
game_goalie_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24646 entries, 0 to 24645
Data columns (total 19 columns):
game_id                       24646 non-null int64
player_id                     24646 non-null int64
team_id                       24646 non-null int64
timeOnIce                     24646 non-null int64
assists                       24646 non-null int64
goals                         24646 non-null int64
pim                           24646 non-null int64
shots                         24646 non-null int64
saves                         24646 non-null int64
powerPlaySaves                24646 non-null int64
shortHandedSaves              24646 non-null int64
evenSaves                     24646 non-null int64
shortHandedShotsAgainst       24646 non-null int64
evenShotsAgainst              24646 non-null int64
powerPlayShotsAgainst         24646 non-null int64
decision                      22868 non-null object
savePercentage                24607 non-null float64
powerPlaySavePercentage       22237 non-null float64
evenStrengthSavePercentage    24590 non-null float64
dtypes: float64(3), int64(15), object(1)
memory usage: 3.6+ MB

In [55]:
game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11434 entries, 0 to 11433
Data columns (total 16 columns):
game_id                   11434 non-null int64
season                    11434 non-null int64
type                      11434 non-null object
date_time                 11434 non-null datetime64[ns]
date_time_GMT             11434 non-null datetime64[ns, UTC]
away_team_id              11434 non-null int64
home_team_id              11434 non-null int64
away_goals                11434 non-null int64
home_goals                11434 non-null int64
outcome                   11434 non-null object
home_rink_side_start      11140 non-null object
venue                     11434 non-null object
venue_link                11434 non-null object
venue_time_zone_id        11434 non-null object
venue_time_zone_offset    11434 non-null int64
venue_time_zone_tz        11434 non-null object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(7), object(7)
memory usage: 1.4+ MB

### Merge data with player's and team's information

In [72]:
skater = game_skater_stats.merge(player_info, on='player_id', how='left').merge(team_info, on='team_id', how='left')

In [47]:
goalie = game_goalie_stats.merge(player_info, on='player_id', how='left').merge(team_info, on='team_id', how='left')

In [65]:
skater.shape

(411578, 34)

In [67]:
display_all(skater.tail())

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,penaltyMinutes,faceOffWins,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce,firstName,lastName,nationality,birthCity,primaryPosition,birthDate,link_x,franchiseId,shortName,teamName,abbreviation,link_y
411573,2018030417,8475807,6,501,0,0,1,2,0,0,0,0,0,0,0,0,0,0,-1,501,0,0,Joakim,Nordstrom,SWE,Stockholm,LW,1992-02-25,/api/v1/people/8475807,6,Boston,Bruins,BOS,/api/v1/teams/6
411574,2018030417,8475149,6,1062,0,0,2,0,0,0,0,1,1,1,0,0,0,0,-1,957,0,105,Marcus,Johansson,SWE,Landskrona,LW,1990-10-06,/api/v1/people/8475149,6,Boston,Bruins,BOS,/api/v1/teams/6
411575,2018030417,8475745,6,913,0,0,2,3,0,0,0,4,11,1,0,0,0,0,0,913,0,0,Charlie,Coyle,USA,E. Weymouth,C,1992-03-02,/api/v1/people/8475745,6,Boston,Bruins,BOS,/api/v1/teams/6
411576,2018030417,8478443,6,1006,0,0,1,1,0,0,0,0,0,0,1,0,0,2,-1,1006,0,0,Brandon,Carlo,USA,Colorado Springs,D,1996-11-26,/api/v1/people/8478443,6,Boston,Bruins,BOS,/api/v1/teams/6
411577,2018030417,8478046,6,909,0,0,2,0,0,0,0,0,0,1,1,0,0,0,0,909,0,0,Danton,Heinen,CAN,Langley,C,1995-07-05,/api/v1/people/8478046,6,Boston,Bruins,BOS,/api/v1/teams/6

In [63]:
skater.columns.values

array(['game_id', 'player_id', 'team_id', 'timeOnIce', 'assists', 'goals',
       'shots', 'hits', 'powerPlayGoals', 'powerPlayAssists',
       'penaltyMinutes', 'faceOffWins', 'faceoffTaken', 'takeaways',
       'giveaways', 'shortHandedGoals', 'shortHandedAssists', 'blocked',
       'plusMinus', 'evenTimeOnIce', 'shortHandedTimeOnIce',
       'powerPlayTimeOnIce', 'firstName', 'lastName', 'nationality',
       'birthCity', 'primaryPosition', 'birthDate', 'link_x',
       'franchiseId', 'shortName', 'teamName', 'abbreviation', 'link_y'],
      dtype=object)

In [64]:
skater.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411578 entries, 0 to 411577
Data columns (total 34 columns):
game_id                 411578 non-null int64
player_id               411578 non-null int64
team_id                 411578 non-null int64
timeOnIce               411578 non-null int64
assists                 411578 non-null int64
goals                   411578 non-null int64
shots                   411578 non-null int64
hits                    411578 non-null int64
powerPlayGoals          411578 non-null int64
powerPlayAssists        411578 non-null int64
penaltyMinutes          411578 non-null int64
faceOffWins             411578 non-null int64
faceoffTaken            411578 non-null int64
takeaways               411578 non-null int64
giveaways               411578 non-null int64
shortHandedGoals        411578 non-null int64
shortHandedAssists      411578 non-null int64
blocked                 411578 non-null int64
plusMinus               411578 non-null int64
evenTimeOnIce           411578 non-null int64
shortHandedTimeOnIce    411578 non-null int64
powerPlayTimeOnIce      411578 non-null int64
firstName               411578 non-null object
lastName                411578 non-null object
nationality             411575 non-null object
birthCity               411553 non-null object
primaryPosition         411578 non-null object
birthDate               411578 non-null datetime64[ns]
link_x                  411578 non-null object
franchiseId             411578 non-null int64
shortName               411578 non-null object
teamName                411578 non-null object
abbreviation            411578 non-null object
link_y                  411578 non-null object
dtypes: datetime64[ns](1), int64(23), object(10)
memory usage: 109.9+ MB

In [73]:
skater.drop(['game_id', 'player_id', 'team_id', 'franchiseId', 'link_x', 'link_y'], axis=1, inplace=True)

In [74]:
skater.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411578 entries, 0 to 411577
Data columns (total 28 columns):
timeOnIce               411578 non-null int64
assists                 411578 non-null int64
goals                   411578 non-null int64
shots                   411578 non-null int64
hits                    411578 non-null int64
powerPlayGoals          411578 non-null int64
powerPlayAssists        411578 non-null int64
penaltyMinutes          411578 non-null int64
faceOffWins             411578 non-null int64
faceoffTaken            411578 non-null int64
takeaways               411578 non-null int64
giveaways               411578 non-null int64
shortHandedGoals        411578 non-null int64
shortHandedAssists      411578 non-null int64
blocked                 411578 non-null int64
plusMinus               411578 non-null int64
evenTimeOnIce           411578 non-null int64
shortHandedTimeOnIce    411578 non-null int64
powerPlayTimeOnIce      411578 non-null int64
firstName               411578 non-null object
lastName                411578 non-null object
nationality             411575 non-null object
birthCity               411553 non-null object
primaryPosition         411578 non-null object
birthDate               411578 non-null datetime64[ns]
shortName               411578 non-null object
teamName                411578 non-null object
abbreviation            411578 non-null object
dtypes: datetime64[ns](1), int64(19), object(8)
memory usage: 91.1+ MB

In [77]:
skater[['timeOnIce', 'assists', 'goals', 'firstName', 'lastName', 'primaryPosition', 'teamName']].sort_values(by='timeOnIce', ascending=False).head()

,timeOnIce,assists,goals,firstName,lastName,primaryPosition,teamName
7205,3197,0,0,Ryan,McDonagh,D,Rangers
20210,2991,1,0,Duncan,Keith,D,Blackhawks
15939,2982,1,0,Roman,Josi,D,Predators
7214,2974,0,0,Marc,Staal,D,Rangers
15938,2947,0,0,Shea,Weber,D,Predators

In [79]:
skater[['timeOnIce', 'assists', 'goals', 'firstName', 'lastName', 'primaryPosition', 'teamName']].sort_values(by=['goals', 'assists'], ascending=False).head()

,timeOnIce,assists,goals,firstName,lastName,primaryPosition,teamName
286650,1123,0,5,Patrik,Laine,RW,Jets
363965,1108,0,5,Johan,Franzen,RW,Red Wings
374609,1048,4,4,Sam,Gagner,C,Oilers
23945,923,1,4,Jake,Guentzel,C,Penguins
31404,879,1,4,Tyler,Seguin,C,Stars

In [81]:
3197/(60)

53.28333333333333

In [82]:
display_all(skater.describe(include='all').T)

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
timeOnIce,411578,NaN,NaN,NaN,NaT,NaT,993.615,297.877,1,798,1001,1192,3197
assists,411578,NaN,NaN,NaN,NaT,NaT,0.258571,0.527285,0,0,0,0,5
goals,411578,NaN,NaN,NaN,NaT,NaT,0.152399,0.40449,0,0,0,0,5
shots,411578,NaN,NaN,NaN,NaT,NaT,1.68855,1.54175,0,1,1,3,15
hits,411578,NaN,NaN,NaN,NaT,NaT,1.31158,1.46124,0,0,1,2,15
powerPlayGoals,411578,NaN,NaN,NaN,NaT,NaT,0.0329099,0.184704,0,0,0,0,3
powerPlayAssists,411578,NaN,NaN,NaN,NaT,NaT,0.0626516,0.25926,0,0,0,0,4
penaltyMinutes,411578,NaN,NaN,NaN,NaT,NaT,0.550766,1.55202,0,0,0,0,42
faceOffWins,411578,NaN,NaN,NaN,NaT,NaT,1.66574,3.29645,0,0,0,1,31
faceoffTaken,411578,NaN,NaN,NaN,NaT,NaT,3.33147,6.1308,0,0,0,3,44
takeaways,411578,NaN,NaN,NaN,NaT,NaT,0.384335,0.666826,0,0,0,1,8
giveaways,411578,NaN,NaN,NaN,NaT,NaT,0.452415,0.746953,0,0,0,1,8
shortHandedGoals,411578,NaN,NaN,NaN,NaT,NaT,0.00430781,0.0658624,0,0,0,0,2
shortHandedAssists,411578,NaN,NaN,NaN,NaT,NaT,0.00444144,0.0667513,0,0,0,0,2
blocked,411578,NaN,NaN,NaN,NaT,NaT,0.801833,1.10353,0,0,0,1,15
plusMinus,411578,NaN,NaN,NaN,NaT,NaT,-0.00752956,1.10309,-7,-1,0,1,6
evenTimeOnIce,411578,NaN,NaN,NaN,NaT,NaT,835.926,241.517,0,679,836,993,2926
shortHandedTimeOnIce,411578,NaN,NaN,NaN,NaT,NaT,69.8291,84.0581,0,0,40,117,724
powerPlayTimeOnIce,411578,NaN,NaN,NaN,NaT,NaT,87.8602,103.188,0,0,52,150,922
firstName,411578,631,Ryan,11553,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lastName,411578,1733,Smith,2831,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
nationality,411575,25,CAN,205271,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
birthCity,411553,884,Toronto,14386,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primaryPosition,411578,4,D,138324,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
birthDate,411578,1726,1980-09-26 00:00:00,1960,1968-02-01,2000-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shortName,411578,33,Pittsburgh,14666,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
teamName,411578,32,Penguins,14666,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
abbreviation,411578,33,PIT,14666,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ValueError: scatter requires an x and y column